/* Si la navigateur est un ecran et fait au maximum 1024px de large*/
@media screen and (max-width: 1023px) {
    .table__title {
        text-align: center;
    }
    .form__title {
        text-align: center;
    }
    .header__title-container {
        justify-content: center;
    }
    .recap {
        justify-content: center;
    }
    .buttons {
        justify-content: center;
    }
    .button {
        margin: 10px;
    }
    }
    @media screen and (max-width: 768px) {
        .header--fixed {
            position: static;
            width: 100%;
            top: 0;
            z-index: 3;
        }
        .main--index {
            margin-top: 25px;
        }
        .main--panier {
            margin-top: 25px;
        }
        .article__promo {
            transform: scale(0.5) translate(50px,-50px)
        }
    }
